body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    place-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
}

.title-main {
    font-family: arial;
    margin: 0;
    padding: 0;
}

.elements-nav {
    display: flex;
    gap: 10px;
    font-size: 14px;
}

.title-elements {
    font-family: verdana;
}